<p><b>Target ID - <%= @target.id %></b></p>

<p>
<b>Title: </b> <%= @target.title  %><br />
<b>Output Text: </b> <%= @target.output_text  %><br />
<b>Content: </b> <%= @target.content  %><br />
<b>Description: </b><br />
<%= @target.description  %><br />
</p>